In [26]:
import pandas as pd

# Read excel file with sheet name
df = pd.read_excel("c:\\users\\labdh\\Omnify_Assessment\\Omnify-Analyst-Intership-Task.xlsx", sheet_name=['Google Ads Data','Listing Site Data'])

In [27]:
List_df = df.get('Listing Site Data')

In [28]:
List_df['Money Spent ($)'] = pd.to_numeric(List_df['Money Spent ($)'])

In [29]:
Amount_spent = List_df.pivot_table(index='Channel', values='Money Spent ($)', aggfunc='sum')
Amount_spent

                 Money Spent ($)
Channel
Capterra                19461.85
GetApp                   5449.90
Software Advice           311.50

In [30]:
List_df['Paid']=List_df['Paid'].str.replace('$','')
List_df['Paid']=List_df['Paid'].str.replace(',','')
List_df['Paid'] = pd.to_numeric(List_df['Paid'])

C:\Users\labdh\AppData\Local\Temp\ipykernel_21436\3372762533.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  List_df['Paid']=List_df['Paid'].str.replace('$','')

In [31]:
Amount_earned = List_df.pivot_table(index='Channel', values='Paid', aggfunc='sum')
Amount_earned['profit']=Amount_earned['Paid']-Amount_spent['Money Spent ($)']
Amount_earned

                    Paid   profit
Channel
Capterra         14802.0 -4659.85
GetApp            1788.0 -3661.90
Software Advice   1794.0  1482.50

In [32]:
print("The Channel with maximum profit is",Amount_earned['profit'].index.max())

The Channel with maximum profit is Software Advice