In [1]:
import pandas as pd

# Read excel file with sheet name
df = pd.read_excel("c:\\users\\labdh\\Omnify_Assessment\\Omnify-Analyst-Intership-Task.xlsx", sheet_name=['Google Ads Data','Listing Site Data'])

In [4]:
Google_df = df.get('Google Ads Data')

In [8]:
Google_df['Payment ($)']=Google_df['Payment ($)'].str.replace('$','')
Google_df['Payment ($)']=Google_df['Payment ($)'].str.replace(',','')
Google_df['Payment ($)'] = pd.to_numeric(Google_df['Payment ($)'])

C:\Users\labdh\AppData\Local\Temp\ipykernel_27252\498247817.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Google_df['Payment ($)']=Google_df['Payment ($)'].str.replace('$','')

In [11]:
Amount_spent = Google_df.pivot_table(index='Keyword type', values='Cost ($)', aggfunc='sum')
Amount_spent

              Cost ($)
Keyword type
Broad          1264.80
Exact           580.33
Phrase          943.55

In [12]:
Amount_earned = Google_df.pivot_table(index='Keyword type', values='Payment ($)', aggfunc='sum')
Amount_earned['profit']=Amount_earned['Payment ($)']-Amount_spent['Cost ($)']
Amount_earned

              Payment ($)   profit
Keyword type
Broad              5536.0  4271.20
Exact              2768.0  2187.67
Phrase             3576.0  2632.45

In [13]:
max_profit_key = Amount_earned['profit'].idxmax()

In [14]:
print("The Keyword with maximum profit is",max_profit_key)

The Keyword with maximum profit is Broad